@import "../../styles/variables";

.todolist {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 9rem;
        width: 9rem;
        text-align: center;
        border: 1px solid $black;
        margin: 0.3rem;
        align-items: center;
        &:hover label{
            text-decoration: underline;
        }
    }
    label {
      padding-top: 1.5em;
    }
    span {
      cursor: pointer;
      position: absolute;
      top: 0.2em;
      right: 0.5em;
    }
}
.button {
    height: 3rem;
    background-color: $primary-color;
    padding: 0 0.8em;
    color: $white;
    font-size: 1.2em;
    position: absolute;
    right: 1em;
    top: 1em;
    &:hover {
      background-color: $dark-color;
    }
    &:active {
      box-shadow: 1px 1px 10px $black inset;
    }
}
