.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.listbox {
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: 2px dashed $primary-color;
  position: relative;
}
