.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.listbox {
  flex: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: 2px dashed $primary-color;
  position: relative;
}
