@mixin bgcolor-opacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}
/* COLOURS */
// $main-color: #333;
$primary-color: hsl(184, 85%, 32%); // #0b828a;// OLD #007E86;
$secondary-color: lighten(adjust-hue($primary-color, 180), 30%);
$dark-color:darken($primary-color, 14%); // OLD  #064346;
$light-color: #6db8bd; //lighten(adjust-hue($primary-color, 300), 35%); //lighten($primary-color, 50%);// OLD #6db8bd;

$success-color: #b1cf66;
$success-dark: darken($success-color, 20%);
$alert-color: tomato;

/*------------------------------------*\
  #BLACK AND WHITE SCALE
\*------------------------------------*/

$black: #000000;
$white: #ffffff;
$grey: #959595;

$grey-darkest: darken($grey, 60%); // #272727;
$grey-darker: darken($grey, 40%); // #4d4d4d;
$grey-dark: darken($grey, 20%); // #737373;
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 15%); // #bfbfbf;
$grey-lightest: lighten($grey, 30%); // #E2E2E2;
$grey-lightest-2: lighten($grey, 37%); // #f5f5f5;
$grey-lightest-3: lighten($grey, 38%); // #F6F6F6;
$grey-lightest-4: lighten($grey, 40%); // #fcfcfc;
