@import "../../styles/variables";

.topnav {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding-left: 1em;
  // padding-right: 1em;
  background-color: $alert-color;
  color: $white;
}
.title {
  // color: $primary-color;
}
