@import "../../styles/variables";

.topnav {
  min-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding-left: 1em;
  // padding-right: 1em;
  background-color: $grey-light;
  color: $white;
}
