@import "../../styles/variables";

.footer {
  background-color: $grey-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  font-size: 0.8em;
  margin-top: 2em;
  p {
    margin-left: 1em;
  }
}

.rrss_list {
  li {
    display: inline-block;
  }
  a {
    padding: 0.2em 1em;
    &:hover {
      color: $alert-color;
    }
  }
}
